# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Build outputs
dist/
build/
coverage/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime and cache
.DS_Store
.cache/
.turbo/
.vite/

# Editor
.idea/
.vscode/

# Misc
/src/generated/prisma
